# Git
.git
.gitignore

# Docker
.docker

# Python
/backend/app/__pycache__/
/backend/app/*/__pycache__/
/backend/app/*/*/__pycache__/
/backend/app/*/*/*/__pycache__/
/backend/.env/
/backend/.venv/
/backend/venv/
