.main {
	min-height: 100vh;
	padding: 4rem;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(to bottom, #2b2d39, #74353c);
}

.main.small {
	flex-direction: column;
}
