{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{% static 'css/report.css' %}">
    </head>
    {% if purchase_items %}
    <body>
        <div class="header-container">
            <div class="header-title">
                <h2>GLADYMAR</h1>
                <h2>POTOSI - BOLIVIA</h2>
            </div>
            <div class="header-second-title">
                <h2>REPORTE DE COMPRAS</h2>
                <h2>DEL {{ start_date|date:"d/m/Y" }} AL {{ end_date|date:"d/m/Y" }}</h2>
            </div>
        </div>
        <div>
            <table>
                {% for purchase_item in purchase_items %}
                    {% ifchanged purchase_item.purchase.id %}
                        <tr>
                            <th>AGENCIA</th>
                            <th>COMPRADOR</th>
                            <th>PROVEEDOR</th>
                            <th>TIPO DE COMPRA</th>
                            <th>FECHA DE COMPRA</th>
                            <th>N° DE FACTURA</th>
                            <th>TOTAL</th>
                            <th>SALDO PENDIENTE</th>
                            <th>PRODUCTO</th>
                            <th>CANTIDAD</th>
                            <th>PRECIO UNITARIO</th>
                            <th>SUB TOTAL</th>
                            <th>ESTADO (INGRESO ALMACEN)</th>
                        </tr>
                    {% endifchanged %}
                    <tr>
                        <td>{{ purchase_item.purchase.agency.name }}</td>
                        <td>{{ purchase_item.purchase.buyer.first_name }} {{ purchase_item.purchase.buyer.last_name }}</td>
                        <td>{{ purchase_item.purchase.supplier.name }}</td>
                        <td>{{ purchase_item.purchase.purchase_type }}</td>
                        <td>{{ purchase_item.purchase.purchase_date|date:"d/m/Y" }}</td>
                        <td>{{ purchase_item.purchase.invoice_number }}</td>
                        <td>{{ purchase_item.purchase.total }}</td>
                        <td>{{ purchase_item.purchase.balance_due }}</td>
                        <td>{{ purchase_item.product_stock.product.name }}</td>
                        <td>{{ purchase_item.quantity }}</td>
                        <td>{{ purchase_item.unit_price }}</td>
                        <td>{{ purchase_item.total_price }}</td>
                        <td>{{ purchase_item.get_status_display }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="footer">
            <div class="date-container">
                <p>Potosi, {{ today|date:"j \\d\\e F \\d\\e Y"|lower }}</p>
            </div>
        </div>
    </body>
    {% else %}
        <div class="no-purchases">
            <h2>No hay compras en el rango de fechas seleccionado.</h2>
        </div>
    {% endif %}
</html>
