{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{% static 'css/report.css' %}">
    </head>
    {% if entry_items %}
    <body>
        <div class="header-container">
            <div class="header-title">
                <h2>GLADYMAR</h1>
                <h2>POTOSI - BOLIVIA</h2>
            </div>
            <div class="header-second-title">
                <h2>REPORTE DE ENTRADAS</h2>
                <h2>DEL {{ start_date|date:"d/m/Y" }} AL {{ end_date|date:"d/m/Y" }}</h2>
            </div>
        </div>
        <div>
            <table>
                {% for entry_item in entry_items %}
                    {% ifchanged entry_item.entry.id %}
                        <tr>
                            <th>AGENCIA</th>
                            <th>ALMACENERO</th>
                            <th>PROVEEDOR</th>
                            <th>FECHA DE ENTRADA</th>
                            <th>N° DE RECIBO</th>
                            <th>PRODUCTO</th>
                            <th>CANTIDAD</th>
                        </tr>
                    {% endifchanged %}
                    <tr>
                        <td>{{ entry_item.entry.agency.name }}</td>
                        <td>{{ entry_item.entry.warehouse_keeper.first_name }} {{ entry_item.entry.warehouse_keeper.last_name }}</td>
                        <td>{{ entry_item.entry.supplier.name }}</td>
                        <td>{{ entry_item.entry.entry_date|date:"d/m/Y" }}</td>
                        <td>{{ entry_item.entry.invoice_number }}</td>
                        <td>{{ entry_item.product_stock.product.name }}</td>
                        <td>{{ entry_item.quantity }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="footer">
            <div class="date-container">
                <p>Potosi, {{ today|date:"j \\d\\e F \\d\\e Y"|lower }}</p>
            </div>
        </div>
    </body>
    {% else %}
        <div class="no-entries">
            <h2>No hay entradas en el rango de fechas seleccionado.</h2>
        </div>
    {% endif %}
</html>
