{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{% static 'css/report.css' %}">
    </head>
    {% if outputs_items %}
    <body>
        <div class="header-container">
            <div class="header-title">
                <h2>GLADYMAR</h1>
                <h2>POTOSI - BOLIVIA</h2>
            </div>
            <div class="header-second-title">
                <h2>REPORTE DE SALIDAS</h2>
                <h2>DEL {{ start_date|date:"d/m/Y" }} AL {{ end_date|date:"d/m/Y" }}</h2>
            </div>
        </div>
        <div>
            <table>
                {% for output_item in outputs_items %}
                    {% ifchanged output_item.output.id %}
                        <tr>
                            <th>AGENCIA</th>
                            <th>ALMACENERO</th>
                            <th>CLIENTE</th>
                            <th>FECHA DE SALIDA</th>
                            <th>N° DE RECIBO</th>
                            <th>PRODUCTO</th>
                            <th>CANTIDAD</th>
                        </tr>
                    {% endifchanged %}
                    <tr>
                        <td>{{ output_item.output.agency.name }}</td>
                        <td>{{ output_item.output.warehouse_keeper.first_name }} {{ output_item.output.warehouse_keeper.last_name }}</td>
                        <td>{{ output_item.output.client.name }}</td>
                        <td>{{ output_item.output.output_date|date:"d/m/Y" }}</td>
                        <td>{{ output_item.output.invoice_number }}</td>
                        <td>{{ output_item.product_stock.product.name }}</td>
                        <td>{{ output_item.quantity }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="footer">
            <div class="date-container">
                <p>Potosi, {{ today|date:"j \\d\\e F \\d\\e Y"|lower }}</p>
            </div>
        </div>
    </body>
    {% else %}
        <div class="no-outputs">
            <h2>No hay salidas en el rango de fechas seleccionado.</h2>
        </div>
    {% endif %}
</html>
