{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{% static 'css/report.css' %}">
    </head>
    {% if sale_items %}
    <body>
        <div class="header-container">
            <div class="header-title">
                <h2>GLADYMAR</h1>
                <h2>POTOSI - BOLIVIA</h2>
            </div>
            <div class="header-second-title">
                <h2>REPORTE DE VENTAS</h2>
                <h2>DEL {{ start_date|date:"d/m/Y" }} AL {{ end_date|date:"d/m/Y" }}</h2>
            </div>
        </div>
        <div>
            <table>
                {% for sale_item in sale_items %}
                    {% ifchanged sale_item.sale.id %}
                        <tr>
                            <th>AGENCIA</th>
                            <th>VENDEDOR</th>
                            <th>CLIENTE</th>
                            <th>CANAL DE VENTA</th>
                            <th>TIPO DE VENTA</th>
                            <th>FECHA DE VENTA</th>
                            <th>N° DE FACTURA</th>
                            <th>TOTAL</th>
                            <th>SALDO PENDIENTE</th>
                            <th>PRODUCTO</th>
                            <th>CANTIDAD</th>
                            <th>PRECIO UNITARIO</th>
                            <th>SUB TOTAL</th>
                            <th>DESCUENTO %</th>
                            <th>TOTAL ITEM</th>
                            <th>ESTADO (ENTREGA AL CLIENTE)</th>
                        </tr>
                    {% endifchanged %}
                    <tr>
                        <td>{{ sale_item.sale.agency.name }}</td>
                        <td>{{ sale_item.sale.seller.first_name }} {{ sale_item.sale.seller.last_name }}</td>
                        <td>{{ sale_item.sale.client.name }}</td>
                        <td>{{ sale_item.sale.selling_channel.name }}</td>
                        <td>{{ sale_item.sale.sale_type }}</td>
                        <td>{{ sale_item.sale.sale_date|date:"d/m/Y" }}</td>
                        <td>{{ sale_item.sale.invoice_number }}</td>
                        <td>{{ sale_item.sale.total }}</td>
                        <td>{{ sale_item.sale.balance_due }}</td>
                        <td>{{ sale_item.product_stock.product.name }}</td>
                        <td>{{ sale_item.quantity }}</td>
                        <td>{{ sale_item.unit_price }}</td>
                        <td>{{ sale_item.sub_total_price }}</td>
                        <td>{{ sale_item.discount }}</td>
                        <td>{{ sale_item.total_price }}</td>
                        <td>{{ sale_item.get_status_display }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="footer">
            <div class="date-container">
                <p>Potosi, {{ today|date:"j \\d\\e F \\d\\e Y"|lower }}</p>
            </div>
        </div>
    </body>
    {% else %}
        <div class="no-sales">
            <h2>No hay ventas en el rango de fechas seleccionado.</h2>
        </div>
    {% endif %}
</html>
