@page {
  size: A4 landscape;
  margin: 2cm;
}

body {
  font-family: DejaVu Sans, sans-serif;
  font-size: 10px;
}

body::before {
  content: "";
  position: fixed;
  top: 30%;
  left: 10%;
  width: 80%;
  height: 50%;
  background: url("/static/image/decorestilo_icon.jpeg") no-repeat center center;
  background-size: contain;
  opacity: 0.1;
  z-index: -1;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header-second-title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header-concept {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}

.header-concept p {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin-top: 15px;
}

td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

th {
  padding: 8px;
  text-align: center;
}

.total-row {
  font-weight: bold;
  font-size: 12px;
}

.total-label {
  text-align: right;
  padding-right: 15px;
}

.total-value {
  background-color: #f0f0f0;
  font-weight: bold;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.signature {
  text-align: center;
}

.signature p {
  margin: 5px 0;
}

.date-container {
  text-align: center;
  margin-top: 20px;
}
